@model Smart.Core.Web.ViewModel.PostagemViewModel.DetailViewModel;
@{
    ViewData["Title"] = Model.Postagem.Titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card my-3">
    <img class="card-img-top" src="~/@Model.Postagem.Foto" alt="Card image cap ">
    <div class="card-body ">
        <h2 class="card-title ">@Model.Postagem.Titulo</h2>
        <ul class="post-meta">
            <li><i class="fas fa-calendar-alt"></i>@Model.Postagem.DataCriacao</li>
            <li><i class="fas fa-tags"></i>
                @{int nCategoria = 0;}
                @{var separador = string.Empty;}
                @foreach (var postagemCategorias in Model.Postagem.PostagemCategorias)
                {
                    @if (nCategoria > 0)
                    {
                        separador = ",";
                    }
                    @separador<a href="#">@postagemCategorias.Categorias.Nome</a>
                    nCategoria++;
                }
            </li>
            <li><i class="fas fa-comment"></i> <a href="#">@Model.Postagem.Comentarios.Count Comentários</a></li>
            <li><i class="fas fa-money-bill-alt"></i> @Model.Postagem.Movimentacoes.Select(c => c.Pontos).Sum() Pontos</li>
        </ul>
        <hr>
        <div class="card-text ">
            <small>é um processo para a vida toda.</small>
            @Html.Raw(Model.Postagem.Conteudo)
            <div class"usuario_movimentacao">
                <p>
                    <span class="text-primary">Saldo: 360 pontos</span>
                    <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-american-sign-language-interpreting"></i> Doar pontos
                    </button>
                </p>
                <div class="collapse md" id="collapseExample">
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only">De Para</label>
                            <p class="form-control-static">de <i class="fa fa-user"></i> @@mdores para <i class="fa fa-user"></i> @@jpsilva</p>
                        </div>
                        <div class="form-group mx-sm-3">
                            <label for="pontos_doacao" class="sr-only">Pontos Doação</label>
                            <input class="form-control" type="number" id="pontos_doacao" name="pontos_doacao" placeholder="10" min="10" max="100">
                        </div>
                        <button type="button" class="btn btn-outline-primary">Transferir</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="card-footer text-muted ">
        Escrito em @Model.Postagem.DataCriacao por
        <a href="#">@@@Model.Postagem.Usuario.Login</a>
    </div>
</div>

<div class="card my-3">
    <h5 class="card-header">Comentários:</h5>
    <div class="card-body">
        <div class="card-text comment-wrapper ">
            <textarea class="form-control " placeholder="escreva um comentário... " rows="3 "></textarea>
            <button type="button" class="btn btn-secondary navbar-ct-blue float-right btn-postar">Postar</button>
            <div class="clearfix "></div>
            <hr>
            <ul class="media-list ">
                @foreach (var comentario in Model.Postagem.Comentarios)
                {
                    <li class="media">
                        <a href="# " class="float-left">
                            <img src="~/@comentario.Usuario.Foto" alt=" " class="rounded-circle ">
                        </a>
                        <div class="media-body ">
                            <span class="text-muted float-right ">
                                <small class="text-muted ">@comentario.DataCriacao</small>
                            </span>
                            <strong class="text-dark">@@@comentario.Usuario.Login</strong>
                            <p>
                                @Html.Raw(@comentario.Conteudo)
                            </p>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

