@model Smart.Core.Web.ViewModel.HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="my-4">
    Aprender
    <small>é um processo para a vida toda.</small>
</h1>

<div class="row">
    @foreach (var post in Model.Postagens)
    {
        <!-- Card -->
        <div class="col-md-4 card-container">
            <div class="card-flip">
                <!-- Card 1 Front -->
                <div class="card front">
                    <div class="cover">
                        <img src="images/rotating_card_thumb.jpg" />
                    </div>
                    <div class="user">
                        <img src="@post.Usuario.Foto" class="rounded-circle" />
                    </div>
                    <div class="card-block content">
                        <h6 class="card-subtitle mb-2 text-muted">@post.Usuario.Nome</h6>
                        <h6 class="card-subtitle mb-2 text-muted">@@@post.Usuario.Login</h6>
                        <h4 class="card-title">@post.Titulo</h4>
                        <p class="card-text">@post.Subtitulo</p>
                        <p class="card-text text-center"><small class="text-muted">@post.DataCriacao</small></p>
                    </div>
                </div>
                <!-- End Card 1 Front -->
                <!-- Card 1 Back -->
                <div class="card back text-center">
                    <div class="card-header">Resumo</div>
                    <div class="card-block content">
                        <h4 class="card-title">@post.Titulo</h4>
                        <p class="card-text">@post.Resumo</p>
                        <a href="article.html" class="btn btn-primary text-center">Leia mais</a>
                    </div>
                </div>
                <!-- End Card 1 Back -->
            </div>
        </div>
        <!-- End Card -->
    }
</div>